* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}

.sized {
    height: 300px;
    width: 400px;
    overflow: hidden;
}

#upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
#upper-container > * {
    padding: 5px;
}
#upper-container > i {
    font-size: 2em;
}
